@import "../../styles/colors";

.expenses-chart-body-container {
  background-color: $very-pale-orange;
  border-radius: 16px;
  margin-top: 1rem;
  padding: 1.5rem;
  * {
    background-color: $very-pale-orange;
  }
  h2 {
    color: $dark-brown;
    font: {
      size: 2rem;
      weight: bold;
    }
    margin-bottom: 3.5rem;
  }
  hr {
    border: 1px solid $cream;
    margin: 3rem 0 2rem 0;
  }
}
